<div class="container">
  <div class="trips-form d-flex justify-content-center">
    <%= simple_form_for @trip do |f| %>

      <div class="trips-form-details">
        <%= f.input :arrival_address, label: 'Destination' %>

        <div class="row d-flex justify-content-between trip-form-time">
          <div class="col-md-6 col-sm-12">
            <%= f.input :start_at, label: 'Date', as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
          <div class="col-md-6 col-sm-12">
            <%= f.input :timeslot, label: 'Horaire' %>
          </div>
        </div>

        </div>

        <%= f.submit 'Réserver', class: "btn btn-trip-form"%>

      </div>

    <% end %>
  </div>
</div>
