


  <div class="container repertoire-show">
    <div class="repertoire-top-block">
    <%= cl_image_tag "super-mamie.gif", class: "repertoire-gif"%>
    <h2>Your contacts</h2>
    <%= cl_image_tag "super-papy.gif", class: "repertoire-gif"%>
    </div>
    <% current_user.repertoire.contacts.each do |contact|%>
      <div class="card-contact">
          <div class="contact-infos">
            <%= cl_image_tag "lea.jpg", class: "contact-card-avatar"%>
            <div class="contact-text">
              <h2> <%= contact.user.first_name %> <%=contact.user.last_name %> </h2>
            </div>
          </div>

          <div class= "contact-card-icon">
            <%= link_to repertoire_contact_path(current_user.repertoire, contact) do %>
              <%= cl_image_tag "call.png" %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
