<div class="container">

  <div class="mealsBooking">

    <div>
      <h1>Order summary</h1>
    </div>

    <div class="mealsBookingDetails d-flex">

    <div class="breakfastBooking">
      <% if !@breakfasts.empty? %>
      <div class="mealsBookingCategory">
        <h3>Breakfast</h3>
      </div>
        <% @breakfasts.each do |breakfast| %>
        <div class="mealsBookingCard">
          <%= cl_image_tag breakfast.photo.key, class: "mealsBookingCardPhoto" %>
          <div class="mealsBookingCardText">
          <h3><%= breakfast.name %></h3>
          <p><%= breakfast.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="lunchBooking">
      <% if !@lunches.empty? %>
      <div class="mealsBookingCategory">
        <h3>Lunch</h3>
      </div>
        <% @lunches.each do |lunch| %>
        <div class="mealsBookingCard">
          <%= cl_image_tag lunch.photo.key, class: "mealsBookingCardPhoto" %>
          <div class="mealsBookingCardText">
          <h3><%= lunch.name %></h3>
          <p><%= lunch.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="dinerBooking">
      <% if !@diners.empty? %>
      <div class="mealsBookingCategory">
        <h3>Diner</h3>
      </div>
        <% @diners.each do |diner| %>
        <div class="mealsBookingCard">
          <%= cl_image_tag diner.photo.key, class: "mealsBookingCardPhoto" %>
          <div class="mealsBookingCardText">
          <h3><%= diner.name %></h3>
          <p><%= diner.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    </div>

    <div class="btnBookingsMeals">
      <%= link_to "Edit", meals_path ,class: "btn bookingBtn" %>
      <button id="sweet-alert-demo" class="btn bookingBtn">Confirm</button>
    </div>

  </div>

</div>
