<div class="container">

  <div class="mealsBooking">

    <div>
      <h1>Order summary</h1>
    </div>

    <div class="mealsBookingDetails">

      <% if !@breakfasts.empty? %>
        <h3>Breakfast</h3>
        <% @breakfasts.each do |breakfast| %>
          <%= cl_image_tag breakfast.photo.key, class: "mealsBookingCardPhoto" %>
          <h3><%= breakfast.name %></h3>
          <p><%= breakfast.description %></p>
        <% end %>
      <% end %>

      <% if !@lunches.empty? %>
        <h3>Lunch</h3>
        <% @lunches.each do |lunch| %>
          <%= cl_image_tag lunch.photo.key, class: "mealsBookingCardPhoto" %>
          <h3><%= lunch.name %></h3>
          <p><%= lunch.description %></p>
        <% end %>
      <% end %>

      <% if !@diners.empty? %>
        <h3>Diner</h3>
        <% @diners.each do |diner| %>
          <%= cl_image_tag diner.photo.key, class: "mealsBookingCardPhoto" %>
          <h3><%= diner.name %></h3>
          <p><%= diner.description %></p>
        <% end %>
      <% end %>

    </div>

    <div class="btnBookingsMeals">
      <%= link_to "Edit", meals_path ,class: "btn bookingBtn" %>
      <button id="sweet-alert-demo" class="btn bookingBtn">Confirm</button>
    </div>

  </div>

</div>
