<div class="container">

    <div class="weekdays" id="days">
      <div class="days"><p>Monday</p></div>
      <div class="days"><p>Tuesday</p></div>
      <div class="days"><p>Wednesday</p></div>
      <div class="days"><p>Thursday</p></div>
      <div class="days"><p>Friday</p></div>
      <div class="days"><p>Saturday</p></div>
      <div class="days"><p>Sunday</p></div>
    </div>

    <div class="mealsmenu">


      <div class="breakfastmeals">
        <h2>Breakfast</h2>
        <% @breakfasts.each do |meal|%>
          <div class="cards-meals-index" id="meals-<%= meal.id %>">
            <%= cl_image_tag meal.photo.key, class:"mealscardsphoto" %>
            <div class="meals-text">
              <h3><%= meal.name %></h3>
              <p><%= meal.description %></p>
            </div>
          </div>
        <% end %>
      </div>


      <div class="lunchmeals">
        <h2>Lunch</h2>
        <% @lunches.each do |meal|%>
          <div class="cards-meals-index" id="meal-<%= meal.id %>">
            <%= cl_image_tag meal.photo.key, class:"mealscardsphoto" %>
            <div class="meals-text">
              <h3><%= meal.name %></h3>
              <p><%= meal.description %></p>
            </div>
          </div>
        <% end %>
      </div>


    <div class="dinersmeals">
      <h2>Dinner</h2>
      <% @diners.each do |meal|%>
        <div class="cards-meals-index" id="meals-<%= meal.id %>">
          <%= cl_image_tag meal.photo.key, class:"mealscardsphoto" %>
          <div class="meals-text">
            <h3><%= meal.name %></h3>
            <p><%= meal.description %></p>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="mealsbuttons">
    <%= link_to "Back", root_path, class:"btn backbuttonmeal" %>
    <%= link_to "Confirm", new_meal_booking_path(meal_id: 1), class:"btn mealvalidation", id: "mealvalidation" %>
  </div>
</div>
